body {
    background-color: #222;
    color: #fff;
    font-family: Arial, sans-serif;
}

.navbar {
    background-color: #222;
}

header {
    background: linear-gradient(to right, #222, #111);
    color: #fff;
    padding: 50px 0;
    text-align: center;
}

.project-card {
    background-color: #333;
    color: #fff;
    transition: transform 0.3s;
}

.project-card:hover {
    transform: scale(1.05);
}

.btn-primary,
.btn-secondary {
    transition: transform 0.3s;
}

.btn-primary:hover,
.btn-secondary:hover {
    transform: translateY(-2px);
}

footer {
    background-color: #222;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}